<div style="padding: 1rem;">{{recipes.length}} Results</div>
<p-dataView #dv [value]="recipes" [paginator]="true" [rows]="9"  layout="grid">
  <ng-template let-recipes pTemplate="grid">
    <div class="grid gid-nogutter">
      @for(recipe of recipes; track recipe.id) {
        <div class="col-12 md:col-3">
          <div class="recipe-grid-item card">
            <div class="recipe-grid-item-top">
              <div>
                <i class="pi pi-tag recipe-category-icon"></i>
                <span class="recipe-category">{{recipe.category}}</span>
              </div>
            </div>
            <div class="recipe-grid-item-content">
              <img class="recipe-image" [src]="'assets/recipes/' + recipe?.imageUrl" [alt]="recipe?.title" />
              <div class="recipe-name">{{recipe?.title}}</div>
              <div class="recipe-description">{{recipe?.description}}</div>
              <p-rating class="recipe-rating" [ngModel]="recipe?.rating" [readonly]="true" [cancel]="false"></p-rating>
            </div>
            <div class="recipe-grid-item-bottom">
              <span class="recipe-prep-item">{{recipe?.prepTime}}min</span>
              <p-button class="recipe-favourite" icon="pi pi-heart"></p-button>
            </div>
          </div>
        </div>
      }
    </div>
  </ng-template>
</p-dataView>
